body{
  margin:0;
  background: radial-gradient(circle, #111, #000);
  color:white;
  font-family:Arial;
}

.container{
  max-width:420px;
  margin:auto;
  padding:15px;
  text-align:center;
  background: rgba(255,255,255,0.05);
  border-radius:15px;
  box-shadow: 0 0 20px rgba(255,215,0,0.15);
  margin-top:20px;
}

input, button{
  width:90%;
  padding:12px;
  margin:6px 0;
  font-size:16px;
  border-radius:8px;
}

button{
  background: linear-gradient(45deg, gold, orange);
  border:none;
  font-weight:bold;
  box-shadow: 0 0 10px gold;
  transition:0.2s;
}

button:active{
  transform:scale(0.95);
}

.stats{
  display:flex;
  justify-content:space-around;
  margin-bottom:15px;
}

.machine{
  display:flex;
  justify-content:center;
  gap:12px;
  padding:12px;
  background:#111;
  border-radius:15px;
  box-shadow: inset 0 0 10px #000;
}

.column{
  display:flex;
  flex-direction:column;
}

.cell{
  width:60px;
  height:60px;
  border:2px solid gold;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:25px;
  background:#000;
  border-radius:8px;
  box-shadow: 0 0 8px rgba(255,215,0,0.25);
}

.middle{
  border:3px solid red;
  box-shadow: 0 0 12px red;
}

.wa-btn{
  display:block;
  width:90%;
  margin:5px auto;
  padding:12px;
  background:#25D366;
  color:white;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}
