/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body{
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
  text-align:center;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* CONTENEDORES */
#login, #game{
  width:90%;
  max-width:400px;
  background:rgba(0,0,0,0.6);
  padding:20px;
  border-radius:20px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}

/* INPUTS */
input{
  width:100%;
  padding:12px;
  margin:8px 0;
  border:none;
  border-radius:10px;
  outline:none;
  font-size:16px;
}

/* BOTONES */
button{
  width:100%;
  padding:12px;
  margin:8px 0;
  border:none;
  border-radius:12px;
  background:#00c3ff;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#0099cc;
  transform:scale(1.03);
}

/* SLOT */
.slot{
  display:flex;
  justify-content:center;
  gap:10px;
  margin:20px 0;
}

/* CASILLAS */
.slot div{
  width:70px;
  height:70px;
  background:white;
  color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}

/* TEXTOS */
h2{
  margin-bottom:10px;
}

p{
  margin:5px 0;
  font-size:16px;
}

/* RESPONSIVE EXTRA */
@media (max-width:400px){
  .slot div{
    width:60px;
    height:60px;
    font-size:25px;
  }
}
